.listing-container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-column-gap: 30px;
    grid-row-gap: 90px;
    padding: 36px 30px;
    margin: 100px 0;

}
.list-image{
    width: 23vw;
}
.list-title{
    color: #ffffff;
}
