.navbar{
    background-image: url("../../public/Slices/nav_bar.png");
    color: #ffffff;
    height: 160px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}
.back{
    content: url("../../public/Slices/Back.png");
    width: 25px;
    margin: 0 10px;
}

.search{
    content: url("../../public/Slices/search.png");
    width: 30px;
    justify-self: flex-end;
    margin-right: 10px;
}